<h1>What?</h1>
<p>A web microservices framework fully based on web standards, integrated by a Single Page App.</p>

<h2>Brief overview</h2>
<p>Microservices integrate by writing to a shared semantic model, allowing them to integrate fully automatically.  Frontend integration is handled by a Single Page App which communicates with common web techonologies to prevent bike-shedding.  Deployment is handled using Docker.  The framework's evolution is driven by a focus on programmer productivity and low application maintenance.</p>

<h2>Which programming languages?</h2>
<p>We use a wide variety of programming languages in our day-to-day stack.  Each of them have different characteristics.  Microservice templates exist for Python, JavaScript and Ruby making it very easy to pick these up.  You can also roll your own microservice templates.  Some core components are written in Common Lisp and Elixir.</p>

<h2></h2>
<p></p>

{{link-to 'documentation' 'documentation'}}
