$color-blue: #44bdff;
$color-yellow: #fff963;
$color-orange: #ff5300;
$dirty-background-color: #fafafa;

html {
  scroll-behavior: smooth;
}

/* collapsed panel */

.hero-banner-top {
  &, & .main-hero {
    &, & h1 {
      &, & * {
        transition: all 2s ease-in-out;
      }
    }
  }
}

.route__documentation {
  .hero-banner-top {
    .main-hero {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      max-width: 2000px;
      height: 5em !important;

      .background {
        margin-top: -30em;
      }

      & > h1 {
        margin-top: 0.20em;
        & > span:nth-child(2) {
          font-size: 0.75em;
          /* color: $color-yellow; */
        }
      }

      .tagline {
        margin-left: 100em;
      }
    }
  }

  .after-header {
    position: relative;
    top: 5em;
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
    background-color: $dirty-background-color;
    box-shadow: 0px 0px 0px rgb(100,100,100);
  }
}

.route__documentation[scrollpositiony="0"] {
  .hero-banner-top .main-hero {
    box-shadow: 0px 0px 0px rgb(100,100,100);
  }
}
.route__documentation {
  .hero-banner-top .main-hero {
    box-shadow: 1px 4px 4px rgb(100,100,100);
  }
}

.after-header {
  position: relative;
  background-color: $color-orange;
  transition: all 2s ease-in-out;

  z-index: 0;

  max-width: 1280px;
  width: 100%;
  left: 0; right: 0; margin: 3em auto;
  padding: 0;

  box-shadow: 1px 4px 4px rgb(100,100,100);
  min-height: 2em;
}

/* standard body elements */
body {
  /* background-color: $color-yellow; // fff963ff */
  margin: 0;
  padding: 0;

  background-color: $dirty-background-color;
}

.hero-banner-top {
  margin-top: 0;
  padding: 0;

  & > * {
    margin-top: 0;
    max-width: 1280px;
    width: 100%;
    left: 0; right: 0; margin: auto;
    padding: 0;
    margin-top: 0; margin-bottom: 0;
  }

  .main-hero {
    height: 35em;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 4px 4px rgb(100,100,100);

    z-index: 100;

    .background {
      position: absolute;
      top: 0; left: 0; right: 0;
      overflow: hidden;
      min-width: 800px;
      height: 35em;
      margin-top: 0;
      background-image: radial-gradient(farthest-side at 8em 4em, $color-yellow 0%, $color-orange 100%);
    }

    h1, .tagline {
      color: $color-blue;
      font-family: 'Marck Script', cursive;
    }

    h1 {
      position: absolute;
      display: flex;
      font-size: 4.5em;
      top: 0em;
      left: 0; right: 0;
      margin-top: 1em;

      & > span:nth-child(1){
        flex-grow: 20;
      }
      & > span:nth-child(2){
        flex-grow: 0;
      }
      & > span:nth-child(3){
        flex-grow: 80;
      }
    }

    .tagline {
      font-size: 3em;
      top: 5em;
      position: absolute;
      width: 100%;

      & > span {
        position: absolute;
        text-align: center;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        text-shadow: 0px 0px 1px $color-blue;
        opacity: 0;

	      animation: blurFadeInOut 3s ease-in backwards;
      }

      & > span:nth-child(11){
	      animation: blurFadeIn 3s ease-in backwards;
        animation-fill-mode: forwards;
      }

      @for $i from 0 through 10 {
        & > span:nth-child(#{$i + 1}) {
	        animation-delay: $i * 3s;
        }
      }
    }
  }
}

@keyframes blurFadeInOut {
	0% {
		opacity: 0;
    color: $color-orange;
		text-shadow: 0px 0px 10px $color-orange;
		transform: scale(0);
	}
	40%, 80% {
		opacity: 1;
    color: $color-blue;
		text-shadow: 0px 0px 0px $color-blue;
		transform: scale(1);
	}
	100% {
		opacity: 0;
    color: $color-yellow;
		text-shadow: 0px 0px 20px $color-yellow;
		transform: scale(2);
	}
}

@keyframes blurFadeIn {
	0% {
		opacity: 0;
    color: $color-orange;
		text-shadow: 0px 0px 10px $color-orange;
		transform: scale(0);
	}
	40%, 100% {
		opacity: 1;
    color: $color-blue;
		text-shadow: 0px 0px 0.1px $color-blue;
		transform: scale(1);
	}
}


// Standard formatting
body {
  font-family: 'Jura', sans-serif;

  p {
    font-size: 1.2em;
  }
}

// Standard formatting on index page
.route__index {
  .after-header {
    display: flex;
    margin-bottom: 2em;

    & > .content {
      max-width: 40em;
      flex-grow: 0;
    }
    & > .spacer-before { flex-grow: 20; }
    & > .spacer-after { flex-grow: 80; }

    & > .content {
      h1 {
        font-size: 3.5em;
        font-weight: bold;
        color: white;
        font-family: 'Marck Script', cursive;
      }

      h2 {
        font-size: 2.5em;
        font-weight: bold;
        color: white;
        font-family: 'Marck Script', cursive;
      }

      p {
        font-family: 'Jura', sans-serif;
        font-size: 1.2em;
      }
    }
  }
}

.footer {
  min-height: 5em;
}
