<div class="documentation-container">
  {{#readable-width}}
    <h1 class="page-title">README of mu-cl-resources</h1>
    <p>This is the README of mu-cl-resources.  Find the source on <a href="https://github.com/mu-semtech/mu-cl-resources/blob/master/README.md">GitHub</a>.  Pull Requests are always welcome! </p>

    <div class="markdown">
      {{markdown-to-html markdown=model}}
    </div>
  {{/readable-width}}
</div>

{{outlet}}
